@import "base";
article {
  //position: relative;
  //top: -10vh;
  &:nth-of-type(1) {
    margin-top: 4rem;
  }
  .post-top-angle {
    width: 100%;
    height: 0;
    padding-top: 20%;
    overflow: hidden;
    margin: -20% 0 0;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-top: -480px;
      border-top: 480px solid transparent;
      border-right: 9999px solid white;
    }
    &.midblue:after {
      border-right: 9999px solid $midnightblue;
    }
    &.post-top-angle-call {
      &:after {
        border-right: 9999px solid $orange;
      }
    }
  }
  .post-content {
    background: white;
    padding: 2rem 0 4rem;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .post-title {
      font-size: 2em;
      font-family: 'Montserrat', sans-serif;
      a {
        color: inherit;
        text-decoration: none;
      }
      // font-style: italic;
      margin: 0 4rem;
      @media (max-width: 480px) {
        margin: 0 2rem;
      }
      padding: 3rem 0 0;
      color: $midnightblue;
      h1, h2 {
        font-size: 1em;
        display: inline;
      }
    }
    .post-date {
      font-size: 0.8em;
      margin: 0 4rem;
      color: $midnightblue;
      font-weight: bold;
      .post-author {
        color: $carrot;
        font-weight: normal;
        font-family: 'Hind', sans-serif;
      }
      @media (max-width: 480px) {
        margin: 0 2rem;
      }
    }
    .post-featured {
      img {
        display: block;
        width: 100%;
        margin: 2rem 0;
        height: auto;
      }
    }
    .post-tldr-link {
      display: block;
      width: 100%;
      background: $midnightblue;
      margin: -2rem 0 2rem;
      padding: 2rem;
      text-align: center;
      font-size: 1.2em;
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
    }
    .post-copy {
      margin: 4rem;
      em {
        font-style: italic;
      }
      p {
        margin: 0 0 2rem !important;
      }
      div.wp-caption {
        width: 100% !important;
        img {
          width: 100%;
          height: auto;
        }
        .wp-caption-text {
          font-weight: bold;
          font-size: 0.8em;
          font-style: italic;
        }
      }
      @media (max-width: 480px) {
        margin: 2rem;
      }
      blockquote,
      q {
        font-size: 1.6em;
        line-height: 1.2em;
        font-family: 'Montserrat', sans-serif;
        border-left: 1rem solid $wetasphalt;
        padding: 1rem 2rem;
        margin: 0 0 4rem;
        color: $midnightblue;
        &.me {
          border-left: 1rem solid $orange;
          color: $carrot;
        }
        p {
          margin: 0 !important;
        }
      }
    }
    #TLDR {
      padding: 4rem;
      background: $midnightblue;
      color: white;
      @media (max-width: 480px) {
        padding: 2rem;
      }
      h2 {
        margin: 0 0 1rem;
        font-size: 2em;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;

      }
    }
  }
  .post-read-more {
    @media (max-width: 768px) {
      padding: 1em;
    }
    background: $orange;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    width: 100%;
    text-align: center;
    display: block;
    outline: none;
    text-decoration: none;
    position: relative;
    transition: color 1.8s;
    &.midblue {
      background: $midnightblue;
    }
    &:hover {
      transition: color 0.2s;
      color: rgba(0,0,0,0);
    }
  }
  .post-read-more-effect {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    &:after {
      content: '';
      position: absolute;
      height: 0.6rem;
      width: 100%;
      top: 60%;
      margin-top: -8px;
      right: 0;
      background: white;
      transform: translate3d(-100%,0,0);
      transition: transform 0.4s;
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    &:hover:after {
      transform: translate3d(100%,0,0);
    }
    &:before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      color: white;
      white-space: nowrap;
      width: 0;
      left: 0;
      transition: width 0.4s 0.3s;
    }
    &:hover:before {
      width: 100%;
    }
  }
  a.post-read-more-link {
    overflow: auto;
    zoom: 1;
    display: block;
    position: relative;
    z-index: 999;
    text-decoration: none;
  }
  .post-bottom-angle {
    width: 0;
    height: 0;
    padding-bottom: 10%;
    padding-left: 100%;
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left: -9999px;
      border-bottom: 480px solid transparent;
      border-left: 9999px solid $orange;
    }
    &.midblue:after {
      border-left: 9999px solid $midnightblue;
    }
    &.post-bottom-angle-call:after {
      border-left: 9999px solid white;
    }
  }
}
