@import "base";
article {
    //position: relative;
    //top: -10vh;
  &:nth-of-type(1){
    margin-top: 4rem;
  }
  .post-top-angle {
    width: 100%;
    height: 0;
    padding-top: 20%;
    overflow: hidden;
    margin: -20% 0 0;
    &.post-top-angle-call {
      &:after {
        border-right: 9999px solid $orange;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-top: -480px;
      border-top: 480px solid transparent;
      border-right: 9999px solid white;
    }
  }
  .post-content {
    background: white;
    padding: 2rem 0 4rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .post-title {
      font-size: 2em;
      font-family: 'Montserrat', sans-serif;
      // font-style: italic;
      margin: 0 4rem;
      @media (max-width: 480px) {
        margin: 0 2rem;
      }
      padding: 4rem 0;
      color: $midnightblue;
    }
    .post-featured {
      img {
        display: block;
        width: 100%;
        // margin: 2rem 4rem;
      }
    }
    .post-copy {
      margin: 4rem;
      @media (max-width: 480px) {
        margin: 2rem;
      }
    }
    q, blockquote {
      font-size:1.6em;
      line-height: 1.2em;
      font-family: 'Montserrat', sans-serif;
      border-left: 1rem solid $midnightblue;
      padding: 1rem 2rem;
      margin: 2.8rem 0;
      color: $wetasphalt;
    }
  }
  a.post-read-more {
    @media (max-width: 768px) {
      padding: 1em;
    }
    background: $orange;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    width: 100%;
    text-align: center;
    display: block;
  }
  .post-bottom-angle {
    width: 0;
    height: 0;
    padding-bottom: 10%;
    padding-left: 100%;
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left: -9999px;
      border-bottom: 480px solid transparent;
      border-left: 9999px solid $orange;
    }
  }
}
