//Include The Modules
@import "modules/all";
// Site Globals
body {
  font-size: 18px;
  line-height: 1.72em;
  font-family: 'Roboto', sans-serif;
  background: $clouds;
  //font-family: 'Montserrat', sans-serif;
};
// Import ALL THE THINGS
@import "partials/header";
@import "partials/body";
@import "partials/posts";
