//Include The Modules
@import "modules/all";
// Site Globals
body {
  font-size: 18px;
  line-height: 1.72em;
  font-family: 'Hind', sans-serif;
  background: $clouds;
  background-image: url(img/background.png);
  //font-family: 'Montserrat', sans-serif;
};
@media (min-width: 1200px) {
    .container{
        max-width: 920px;
    }
}
// Import ALL THE THINGS
@import "partials/header";
@import "partials/body";
@import "partials/posts";
